.main {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.link {
  text-decoration: none;
}

.btn {
  align-self: end;
}

.lastLine {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 1rem;
}
